manifest {
    homePage = 'https://github.com/asangphukieo/CirRealign'
    description = 'CirRealign: HPV16 circular genome realignment pipeline'
    mainScript = 'CirRealign.nf'
    version = '1.2'
}

profiles {
    standard {
        process.executor = 'local'
    }
    docker {
        docker.enabled = true
        process.container = 'asangphukieo/cirealign:1.2'
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        process.container = 'docker://asangphukieo/cirealign:1.2'
    }
    slurm {
        process.executor = 'slurm'
        process.queue = 'low_p'
    }
    sge {
        process.executor = 'sge'
        process.queue = 'low_p'
    }
}
