manifest {
    homePage = 'https://github.com/asangphukieo/CirRealign'
    description = 'CirRealign: HPV16 circular genome realignment pipeline'
    mainScript = 'CirRealign.nf'
    version = '1.2'
}

profiles {
    standard {
        process.executor = 'local'
    }
    slurm {
        process.executor = 'slurm'
        process.queue = 'low_p'
    }
    sge {
        process.executor = 'sge'
        process.queue = 'low_p'
    }
}
